body {
    font-family: Arial, sans-serif;
}

.stopwatch {
    text-align: center;
    margin-top: 50px;
}

.display {
    font-size: 40px;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: blue;
    background-color: aqua;
    
}

.laps {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.laps li {
    margin-bottom: 5px;
}
